<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Movie App</title>
</head>
<body>
  <header>
    <form id="form">
      <input type="text" id="search" class="search" placeholder="Search">
    </form>
  </header>
  <main id="main">
    <div class="movie">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/5KYaB1CTAklQHm846mHTFkozgDN.jpg" alt="">
      <div class="movie-info">
        <h3>Title</h3>
        <span class="green">9.0</span>
      </div>
      <div class="overview">
        <h3>Overview</h3>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere molestias quidem laborum modi amet, aspernatur quod sint? Minima facere iusto repudiandae quaerat quis quibusdam accusantium, ducimus alias assumenda, labore consequatur!
      </div>
    </div>
    <div class="movie">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/5KYaB1CTAklQHm846mHTFkozgDN.jpg" alt="">
      <div class="movie-info">
        <h3>Title</h3>
        <span class="green">9.0</span>
      </div>
      <div class="overview">
        <h3>Overview</h3>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere molestias quidem laborum modi amet, aspernatur quod sint? Minima facere iusto repudiandae quaerat quis quibusdam accusantium, ducimus alias assumenda, labore consequatur!
      </div>
    </div>
    <div class="movie">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/5KYaB1CTAklQHm846mHTFkozgDN.jpg" alt="">
      <div class="movie-info">
        <h3>Title</h3>
        <span class="green">9.0</span>
      </div>
      <div class="overview">
        <h3>Overview</h3>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere molestias quidem laborum modi amet, aspernatur quod sint? Minima facere iusto repudiandae quaerat quis quibusdam accusantium, ducimus alias assumenda, labore consequatur!
      </div>
    </div>
  </main>
  <script src="script.js"></script>
</body>
</html>